*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    position: sticky;
    top: 0;
    background-color: #fff;
    text-align: center;
}

h1 span {
    font-family: monospace;
    font-size: 1.1em;
}

/* Image Gallery */

.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;

    margin-block-end: 100vh;

    place-content: center;
}

.img-gallery > img {
    transition: 300ms;
}

.img-gallery > img:not(:hover) {
    scale: .9;
    opacity: .6;
}

/* .img-gallery:has(img:hover) > img:not(:hover) {
    scale: .9;
    opacity: .6;
} */

/* Avatars */

.avatar-list {
    display: flex;
    gap: 10px;
    justify-content: center;

    margin-block-end: 100vh;
}

.avatar-list img {
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 50%;
    transition: 500ms;
}

.avatar-list img:hover {
    scale: 1.5;
}

/* .avatar-list img:hover + img {
    scale: 1.3;
} */

/* .avatar-list img:has(+ :hover) {
    scale: 1.3;
} */

/* .avatar-list img:hover + img + img{
    scale: 1.1;
} */

/* .avatar-list img:has(+ img + :hover) {
    scale: 1.1;
} */

/* Cards */

.cards form {
    margin-block-end: 2em;
    width: max-content;
    margin-inline: auto;
}

.cards fieldset {
    display: flex;
    border: 1px solid lightgray;
    border-radius: .5rem;
}

.cards legend {
    font-size: .8em;
    color: gray;
}

.cards form input {
    width: 0;
    height: 0;
    opacity: 0;
}

.cards form label {
    padding: .2em;
    border-radius: .2em;
    cursor: pointer;
}

.cards form input:checked + label {
    background-color: orange;
}

.card-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12vw;
    gap: var(--gap, 20px);
    place-content: center;

    margin-block-end: 100vh;

    transition: 300ms;
}

.card {
    --clr-card: lightsteelblue;

    display: grid;
    place-items: center;

    aspect-ratio: 3 / 4;
    background-color: var(--clr-card, lightsteelblue);
    font-size: 10vw;
    font-weight: bold;
}

.cards:has(#narrow:checked) {
    --gap: 10px;
}

.cards:has(#medium:checked) {
    --gap: 20px;
}

.cards:has(#wide:checked) {
    --gap: 30px;
}

.cards:has(#x-wide:checked) {
    --gap: 40px;
}

/* Quantity Queries */

/* .card-container:has(:nth-child(5)) .card {
    --clr-card: orange;
}

.card-container:has(:nth-child(6)) .card {
    --clr-card: red;
}

.card-container:has(:nth-child(7)) .card {
    --clr-card: darkseagreen;
}

.card-container:has(:nth-child(8)) .card {
    --clr-card: purple;
} */