*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-family: monospace;
    text-align: center;
}

section {
    position: relative;
    margin-block-start: 3em;
}
p, span {
    position: relative;
    outline: 1px solid orange;
}
span {
    cursor: pointer;
}
:is(p, section, span)::before{
    content: attr(data-class-list);
    position: absolute;
    
    padding: 1px;
    font-family: monospace;
    font-weight: bold;
}
section::before {
    top: -1.3em;
    left: 0;

    background-color: rgb(254, 213, 136);
    font-size: 20px;
}

p::before {
    top: 0;
    right: 0;
    
    background-color: rgba(176, 196, 222, .9);
    font-size: 20px;
}
span::before {
    top: -1.2em;
    right: -3em;

    background-color: rgba(179, 182, 255, .9);
    font-size: 20px;
    transition: 400ms;
    opacity: 0;
}
span:hover::before {
    opacity: 1;
}
