*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: monospace;
    text-align: center;
}

.btn-toggle {
    display: block;
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 100vh;
}

.btn-toggle input {
    display: none;
}

.btn-toggle .switch {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    pointer-events: none;
    transition: 200ms;
}

.btn-toggle:has(:checked) .switch {
    translate: 20px;
}

section {
    position: relative;
    outline: 1px solid rgb(94, 142, 187);
    padding: 10px;
    margin-block-start: 3em;
}

p {
    position: relative;
    padding: 10px;
    outline: 1px solid orange;
}

span {
    position: relative;
    outline: 1px solid red;
}

p input[type="checkbox"] {
    position: relative;
    top: 2px;
}

span {
    cursor: pointer;
}

:is(p, section, span)::before{
    content: attr(data-class-list);
    position: absolute;
    
    padding: 1px;
    font-family: monospace;
    font-weight: bold;
}

:has(.btn-toggle input:checked) :is(p, section, span)::before{
    content: attr(data-data-attrs);
}

section::before {
    top: -1.3em;
    left: 0;

    background-color: rgb(254, 213, 136);
    font-size: 20px;
}

p::before {
    top: 0;
    right: 0;
    
    background-color: rgba(176, 196, 222, .9);
    font-size: 20px;
}

span::before {
    top: -1.2em;
    right: -3em;

    background-color: rgba(179, 182, 255, .9);
    font-size: 20px;
    transition: 400ms;
    opacity: 0;
}

span:hover::before {
    opacity: 1;
}